<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>CORS MASTER</title>
<!-- Optional JavaScript -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>
<body>
    
<script type="application/javascript">

    function handleClick()
    {
        var sfSessionId = document.querySelector("#sessionInput").value;
    
    console.log(sfSessionId);
        fetch('https://sfdxworks-dev-ed.my.salesforce.com/services/data/v53.0/sobjects/Account/0015h00000fADJk',
       {
        method: 'GET',
        headers: {
        'Content-Type': 'application/json',
        'Authorization':'Bearer '+sfSessionId
      }
        }
        )
        .then((response) => {return response.json()})
        .then((data)=> {console.log(data)});

/*
var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    console.log("=========== XMLHttpRequest readyState:", this.readyState, ", status:", this.status);
    if (this.readyState == 4 && this.status == 200) {
    //action to be performed when the document is ready:
    alert("Apex REST call succeeded");
    }
    };
    xhttp.onerror = function () {
    console.log("=========== XMLHttpRequest readyState:", this.readyState, ", status:", this.status);
    alert("Apex REST call failed");
    };
    xhttp.open("GET", "https://sfdxworks-dev-ed.my.salesforce.com/services/data/v52.0/sobjects/Account/0015h00000fADJk", true);
    xhttp.setRequestHeader("Authorization", "Bearer "+sfSessionId);
    xhttp.send();*/


}
</script>
    <form>
  <div class="form-group">
    <label for="sessionInput">Enter Session Id</label>
    <input type="text" class="form-control" id="sessionInput" aria-describedby="sessionInput" placeholder="Enter Session Id">
    <small id="sessionInput" class="form-text text-muted">Generate the session Id/ access token  from Postman</small>
  </div>
  <button  class="btn btn-primary" onclick="handleClick();">Submit</button>
</form>
    
</body>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
